<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Lista sprawdzeń{% endblock %}</title>
    {% block stylesheets %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<div class="container-fluid">


    {% block body %}{% endblock %}

    <!-- </div> -->
</div>
<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">
    <!-- Copyright -->

    <div class="footer-copyright text-center py-3">&reg; 2019 Copyright:
        <a href="https://ojrzynski.eu"> tech. inf Igor Bugumił Ojrzyński</a>
        &nbsp;Kontakt:<a href="mailto:igor@ojrzynski.eu">igor@ojrzynski.eu</a>
    </div>
    -->
    <!-- Copyright -->

</footer>

<!-- Footer -->

{% block javascripts %}<!-- SCRIPTS -->

{% endblock %}
</body>
</html>
